// Colors
$color-primary: #99FF92;
$color-primary-light: #c2ffbe;
$color-primary-dark: #73c06d;
$color-secondary: #9E1746;
$color-secondary-light: #e43b60;

$color-bg: #feffff;
$color-bg-2: #EDFFEC;
$color-bg-3: #a5dea1;

$color-dark: #363030;
$color-dark-2: #4c4848;
$color-dark-3: #706c6c;
$color-light: #f8f8f8;

// Typography
$font-main: "Poppins", sans-serif;