@use "shared" as *;
@forward "base/global";

// Import des components
@forward "components/cards";
@forward "components/stickers";

// Import des layouts
@forward "layout/header";
@forward "layout/layout";
@forward "layout/footer";